{{>header}}
<body>

    {{>nav}}
    <!-- Main Header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-12 col-12">

                <div class="row">
                     <!-- left-side-div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errImg">
                            <img src="./img/404.gif" alt="abhi" class="img-fluid" title="Abhishek">
                        </figure>
                        <p>Welcome to iWeather Application</p>
                        <h1>{{errMsg}}</h1>
                        <a href="/" title="Click to Back"><button>Back</button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>


   {{>footer}}
   </body>

</html>