{{>header}}
<body>

    {{>nav}}
    <!-- Main Header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-12 col-12">

                <div class="row">
                     <!-- left-side-div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./img/abhi.jpg" alt="abhi" class="img-fluid" title="Abhishek">
                        </figure>
                    </div>
                   
                    <!-- right-side-div -->
        
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to iWeather Application</p>
                        <h1>I am a <span class="txt-color">Mern Stack Developer</span>Youtuber and Freelancer</h1>
                        <a href="https://abhishekvishportfolio.000webhostapp.com/" target="_blank" title="My Website"><button>About Me</button></a>
                    </div>

                </div>

            </div>
        </div>
    </div>


   {{>footer}}
   </body>

</html>